
//LOGOS//
.galeriaLogo{
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/fondoDos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

}


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    @media screen and (max-width:500px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  
  
  /* hover styles */
  .logoLista {
    position: relative;
  }
  
  .logoImagen {
    border-radius: 5px;
    border: 1px solid #892be2b0;

    img {
        width: 100%; 
        border-radius: 5px;
      }

  }
  
  .logoImagen img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }
  
  .logoTitulo {
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: #892be2b0;
    color: white;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logoLista:hover .logoTitulo {
    opacity: 1;
  }
  
  .logoLista:hover .logoImagen img {
    filter: blur(2px);
  }
  
  
  /* para celulares */
  @media (hover: none) { 
    .logoTitulo {
      opacity: 1;
    }
    .logoImagen img {
      filter: blur(2px);
    }
  }


  // 3D //

  .grid-container-3d {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    padding-right: 5%;
    padding-left: 5%;

    @media screen and (max-width:500px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    div{
      object-fit: contain;

      img {
        width: 100%; 
        height: 100%;
        border-radius: 5px;
      }
    }

  }

    // Videojuegos //

    .grid-container-videoJuegos {
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-gap: 1em;
      padding-right: 5%;
      padding-left: 5%;
  
      @media screen and (max-width:500px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      }
      div{
        object-fit: contain;
  
        img {
          width: 100%; 
          border-radius: 5px;
        }
      }
  
    }

  //Proyectos//
.proyectos{
  padding-right: 5%;
  padding-left: 5%;
  background-color: blueviolet;
  background-image: url("../img/Fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;

}

.dibujos{
  padding-right: 5%;
  padding-left: 5%;
  background-color: blueviolet;
  background-image: url("../img/Fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.tripticont{
  display: flex;
  padding: 3% 5%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media screen and (max-width:907px) {
    flex-direction: column;

  }
}

.trip{
  width: 100%;
}