main{
    padding-bottom: 40px;
    padding-top: 40px;
}
.mainCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}


.mainDosCont{
    border-left: 2px black solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.rotar{
    transform: rotate(270deg);

}
//Seccion 1//
.perfil{
    width: 100%;
    border-radius: 20px;
}
.contFotoPerfil{
    width: 350px;
    @media screen and (max-width:500px) {
        width: 100%;
      }
}
.contPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    object-fit: cover;
    padding: 5%;
    @media screen and (max-width:500px) {
        flex-direction: column;
        padding: 5%;
      }
}

.contPerfilDos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    object-fit: cover;
    padding: 100px 0px;

    @media screen and (max-width:1000px) {
        flex-direction: column;

      }
      @media screen and (max-width:600px) {
        padding: 30px 0px;

      }
}
.experiencia{
 width: 100%;
}

.seccionQuienSoy{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.subPerfil{
    display: flex;
    align-items: baseline;
    gap: 80px;
    margin-bottom: 50px;
    @media screen and (max-width:500px) {
        gap: 18px;
      }
}

.experienciaTitulo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.expIcono{
    width: 30px;
}

.subTextosPerfil{
 width: 100px;
}

//Seccion 2//

.secctionCont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a2be2;
    padding: 20px;
    overflow: hidden;
   h2{
    @media screen and (max-width:500px) {
        font-size: 2.5rem;
      }
   }
}
.tituloSeccion{
    margin-bottom: 50px;
}

.tituloSubSeccion{
    margin-bottom: 20px;
}


//Fondos//
.fondoDos{
    background-image: url("../img/fondoDos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoTres{
    background-image: url("../img/fondoTres.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.web{
    filter: drop-shadow(2px 3px 5px #000000);
    filter: brightness(100%);
    transition: all 500ms;
}

.web:hover{
    filter: brightness(50%);
    transition: all 500ms;
}


.sobreMi{
    width: 600px;
    @media screen and (max-width:800px) {
        width: 100%;

      }
}

.experienciaCont{
    display: flex;
    justify-content: center;
    gap: 50px;
    @media screen and (max-width:1000px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.herramienta{
    filter: drop-shadow(2px 3px 5px #000000);
    filter: brightness(100%);
    transition: all 500ms;
}

.herramienta img{
 width: 120px;
}

.herramienta:hover{
    filter: brightness(50%);
    transition: all 500ms;
}

.herramientaCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 5% 5%;
    @media screen and (max-width:1300px) {
flex-wrap: wrap;
      }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (max-width:807px) {
        flex-direction: column;
    
      }
}